/*-------------RULES-----------*/

.rules .tabs-left li {
  float: none; }
  @media screen and (max-width: 768px) {
    .rules .tabs-left li {
      float: left; } }
  .rules .tabs-left li a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
    border: none; }
.rules .tabs-left .nav-tabs {
  float: left;
  border-bottom: none; }
  .rules .tabs-left .nav-tabs li a {
    font-size: 3.6em;
    color: #fff;
    font-weight: bold; }
    .rules .tabs-left .nav-tabs li a:active, .rules .tabs-left .nav-tabs li a:focus, .rules .tabs-left .nav-tabs li a:hover {
      background-color: inherit;
      border: none;
      border-bottom-color: transparent; }
  .rules .tabs-left .nav-tabs li.active a {
    background-color: inherit;
    color: #484a47; }
.rules .tabs-left::after {
  content: '';
  display: block;
  background: #00A79D;
  height: 5px;
  width: 100%;
  margin: 20px 0 20px 0; }

	.tab-pane {
		padding-top: 20px;
		height: 250px;
  		overflow-y:scroll;
	}

  .narrow {
  width: 85%;
}

.paragraphs-size {
  font-size: 1.6em;   
}

.basic {
  font-size: 1.3em;
}

.list {
	list-style-type: disc;
	font-weight: bold;
	font-size: 1.6em;
	margin: 25px 0 0 -20px;
}

.rule-sub {
  font-size: 1.6em;
  font-weight: bold;
  color: $color-black !important;
  text-decoration: none !important;
  line-height: 1.2em;
  &a:hover{
    text-decoration: none;
  }
}

.margin-space {
  margin: 0 3% 0 -3%;
}

.arrow-right {
  position: absolute;
  top: 28px;
  right: 5px;
}

.tabbable {
  margin-top: 10%;
}